<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--콘솔출력-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %highlight([%-5level]) %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--InfoWarn Rolling 정책-->
    <appender name="RollingInfoWarn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>INFO</level>
        </filter>
        <file>/nexters/logs/Chop.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>

        <!--요일이 바뀌면 과거 로그 파일 이름으로 변경-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/nexters/dateLog/%d{yyyy_MM_dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <!--Error Rolling 정책-->
    <appender name="RollingError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>ERROR</level>
        </filter>
        <file>/nexters/logs/Chop_error.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>

        <!--요일이 바뀌면 과거 로그 파일 이름으로 변경-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/nexters/dateLog/%d{yyyy_MM_dd}.%i.error.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="RollingInfoWarn" />
        <appender-ref ref="RollingError" />
    </root>
</configuration>
